# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [4]:
sinasc_raw = pd.read_csv('/content/SINASC_RO_2019.csv')
sinasc_raw.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

In [5]:
sinasc_raw.columns

Index(['ORIGEM', 'CODESTAB', 'CODMUNNASC', 'LOCNASC', 'IDADEMAE', 'ESTCIVMAE',
       'ESCMAE', 'CODOCUPMAE', 'QTDFILVIVO', 'QTDFILMORT', 'CODMUNRES',
       'GESTACAO', 'GRAVIDEZ', 'PARTO', 'CONSULTAS', 'DTNASC', 'HORANASC',
       'SEXO', 'APGAR1', 'APGAR5', 'RACACOR', 'PESO', 'IDANOMAL', 'DTCADASTRO',
       'CODANOMAL', 'NUMEROLOTE', 'VERSAOSIST', 'DTRECEBIM', 'DIFDATA',
       'DTRECORIGA', 'NATURALMAE', 'CODMUNNATU', 'CODUFNATU', 'ESCMAE2010',
       'SERIESCMAE', 'DTNASCMAE', 'RACACORMAE', 'QTDGESTANT', 'QTDPARTNOR',
       'QTDPARTCES', 'IDADEPAI', 'DTULTMENST', 'SEMAGESTAC', 'TPMETESTIM',
       'CONSPRENAT', 'MESPRENAT', 'TPAPRESENT', 'STTRABPART', 'STCESPARTO',
       'TPNASCASSI', 'TPFUNCRESP', 'TPDOCRESP', 'DTDECLARAC', 'ESCMAEAGR1',
       'STDNEPIDEM', 'STDNNOVA', 'CODPAISRES', 'TPROBSON', 'PARIDADE',
       'KOTELCHUCK', 'CONTADOR', 'munResStatus', 'munResTipo', 'munResNome',
       'munResUf', 'munResLat', 'munResLon', 'munResAlt', 'munResArea'],
      dtype='object')

# Tarefa 1

### 1. Idade media das mães e dos pais por município (coluna munResNome)

In [7]:
sinasc_2 = sinasc_raw[['munResNome','IDADEMAE','IDADEPAI']]
sinasc_2.head

<bound method NDFrame.head of                     munResNome  IDADEMAE  IDADEPAI
0        Alta Floresta D'Oeste        19      26.0
1        Alta Floresta D'Oeste        29      24.0
2        Alta Floresta D'Oeste        37      32.0
3      Alto Alegre dos Parecis        30      24.0
4        Alta Floresta D'Oeste        30      27.0
...                        ...       ...       ...
27023                  Vilhena        32      35.0
27024              Chupinguaia        19       NaN
27025                  Vilhena        24      30.0
27026                  Vilhena        21      24.0
27027  Novo Horizonte do Oeste        18       NaN

[27028 rows x 3 columns]>

In [8]:
sinasc_2.groupby('munResNome').mean()

                            IDADEMAE   IDADEPAI
munResNome
Alta Floresta D'Oeste      25.991826  29.548701
Alto Alegre dos Parecis    24.844156  29.179104
Alto Paraíso               24.960177  28.833333
Alvorada D'Oeste           25.770732  30.757282
Ariquemes                  25.607866  32.466667
Buritis                    25.559177  30.812500
Cabixi                     26.037500  34.333333
Cacaulândia                25.546667  36.333333
Cacoal                     26.890102  30.931854
Campo Novo de Rondônia     24.825301  30.500000
Candeias do Jamari         25.243323  29.894737
Castanheiras               27.281250  30.392857
Cerejeiras                 27.240506  31.652778
Chupinguaia                25.333333  29.629630
Colorado do Oeste          27.602804  34.354839
Corumbiara                 24.716535  32.470588
Costa Marques              24.412017  30.613636
Cujubim                    24.482927  31.400000
Espigão D'Oeste            26.093333  31.198113
Governador Jorge Teixeira  24.401786  29.222222
Guajará-Mirim              25.462228  30.470588
Itapuã do Oeste            26.064220  42.500000
Jaru                       25.982974  32.197183
Ji-Paraná                  26.361137  31.132239
Machadinho D'Oeste         25.480000  31.326923
Ministro Andreazza         27.904762  33.849315
Mirante da Serra           26.304878  32.154762
Monte Negro                25.648241  34.678571
Município ignorado - RO    24.000000  22.000000
Nova Brasilândia D'Oeste   26.222222  30.520833
Nova Mamoré                25.326389  31.692308
Nova União                 26.894231  31.371429
Novo Horizonte do Oeste    26.938776  31.588235
Ouro Preto do Oeste        26.375594  31.233244
Parecis                    26.454545  32.473684
Pimenta Bueno              25.199675  29.745174
Pimenteiras do Oeste       25.075000  35.600000
Porto Velho                26.312670  32.352679
Presidente Médici          25.796053  30.150754
Primavera de Rondônia      27.023256  31.888889
Rio Crespo                 26.660000  28.000000
Rolim de Moura             26.600863  30.360479
Santa Luzia D'Oeste        26.121212  30.703297
Seringueiras               24.910714  30.500000
São Felipe D'Oeste         26.481481  31.395833
São Francisco do Guaporé   25.660066  31.638889
São Miguel do Guaporé      25.926346  32.666667
Teixeirópolis              26.031250  31.500000
Theobroma                  25.536082  30.083333
Urupá                      26.688235  31.008929
Vale do Anari              26.096774  34.000000
Vale do Paraíso            25.679012  29.976744
Vilhena                    26.433962  34.152941

### 2. Peso médio dos bebes por sexo que nasceram no dia do seu aniversário por faixas de escolaridade mae
Ex: Você, aluna(o), nasceu no dia 10/01, então você precisa filtrar o conjunto de dados nessa data e calcular o peso médio dos bebês de cada sexo por faixa de escolaridade da mãe.

In [9]:
sinasc_raw['DTNASC'] = pd.to_datetime(sinasc_raw['DTNASC'])

In [10]:
data_niver = pd.to_datetime('2019-06-23')
dados_niver = sinasc_raw[sinasc_raw['DTNASC'] == data_niver]

In [11]:
dados_niver.groupby(['ESCMAE', 'SEXO'])['PESO'].mean().unstack()

SEXO                Feminino    Masculino
ESCMAE
12 anos ou mais  3172.500000  3218.818182
4 a 7 anos       2763.333333  3295.000000
8 a 11 anos      2949.454545  3371.818182

### 3. Qual o municipio que nasceu menos bebe em 2019?
    - qual a idade media, maxima, minima das maes nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [13]:
sinasc_raw.munResNome.value_counts().to_frame().sort_values('munResNome')[:5]

                         munResNome
Município ignorado - RO           1
Castanheiras                     32
Pimenteiras do Oeste             40
Primavera de Rondônia            43
Parecis                          44

Ignorei os valores do Município ignorado - RO, pois pode ter falta de valores, logo considerei castanheiras

In [15]:
from numpy.core.fromnumeric import mean
sinasc_3 = sinasc_raw[['munResNome','IDADEPAI','IDADEMAE']]
sinasc_3[sinasc_3['munResNome'] == 'Castanheiras'].groupby(['munResNome']).agg([min,max,mean])

             IDADEPAI                  IDADEMAE
                  min   max       mean      min max      mean
munResNome
Castanheiras     17.0  43.0  30.392857       17  39  27.28125

### 4. Qual o municipio que nasceu mais bebe no mês de março?
    - qual a quantidade de filhos vivos media, maxima, minima nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [16]:
sinasc_mar = sinasc_raw[sinasc_raw.DTNASC.dt.month == 3].copy()
sinasc_mar['MES'] = sinasc_mar['DTNASC'].dt.month_name()
sinasc_mar['COUNT'] = 1

In [20]:
sinasc_5 = sinasc_mar.groupby(by=['MES',
                                  'munResNome']
                             )[['COUNT',
                                'QTDFILVIVO',
                                'IDADEMAE',
                                'IDADEPAI']
                              ].agg({'COUNT':[('Qtd de bebês nascidos','count')],
                                     'QTDFILVIVO':[('Média','mean'),
                                                   ('Máx',max),
                                                   ('Mín',min)],
                                     'IDADEMAE':[('Média','mean'),
                                                 ('Máx',max),
                                                 ('Mín',min)],
                                     'IDADEPAI':[('Média','mean'),
                                                 ('Máx',max),
                                                 ('Mín',min)]
                                    })
sinasc_5.sort_values(('COUNT', 'Qtd de bebês nascidos'),
                     ascending=False
                    )[:10]

                                          COUNT QTDFILVIVO            \
                          Qtd de bebês nascidos      Média  Máx  Mín
MES   munResNome
March Porto Velho                           744   1.295056  9.0  0.0
      Ji-Paraná                             188   0.828877  4.0  0.0
      Vilhena                               148   0.979592  5.0  0.0
      Ariquemes                             141   1.064748  4.0  0.0
      Cacoal                                133   0.969697  7.0  0.0
      Jaru                                   80   1.025641  5.0  0.0
      Guajará-Mirim                          75   1.534247  8.0  0.0
      Rolim de Moura                         69   0.724638  5.0  0.0
      Ouro Preto do Oeste                    67   1.014925  5.0  0.0
      Pimenta Bueno                          62   0.836066  4.0  0.0

                            IDADEMAE           IDADEPAI
                               Média Máx Mín      Média   Máx   Mín
MES   munResNome
March Porto Velho          26.596774  44  14  34.629032  62.0  19.0
      Ji-Paraná            25.377660  44  13  30.831579  56.0  16.0
      Vilhena              26.412162  39  16  33.562500  47.0  27.0
      Ariquemes            25.304965  42  14  28.666667  29.0  28.0
      Cacoal               26.466165  40  15  30.008197  47.0  17.0
      Jaru                 26.550000  40  14  33.500000  41.0  21.0
      Guajará-Mirim        26.333333  43  14  34.500000  43.0  26.0
      Rolim de Moura       27.594203  41  18  31.257576  50.0  19.0
      Ouro Preto do Oeste  25.522388  44  14  30.175000  57.0  19.0
      Pimenta Bueno        25.177419  39  14  29.611111  49.0  17.0

O município que mais nasceu bebê no mês de março foi Ji-Paraná com 182 nascimentos.

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados. Algo que você julgue relevante e novo pra você.

Com base nos resultados apresentados, podemos observar que:

- A média de filhos vivos se mantém em torno de 1, independentemente da quantidade de bebês nascidos, em todos os municípios do estado.
- A média de idade dos pais é geralmente maior do que a das mães na maioria dos municípios.
- Os município de Jaru e Nova Mamoré sejam um dos dez com maior número de bebês nascidos, com um total de 79 e 37 nascimentos respectivamente, a amplitude da coluna IDADEPAI é uma das menores, com uma diferença de apenas 13 anos, de 28 a 41 anos e 30 a 43 anos respectivamente.
-O município de Cacoal possui a menor Diferença da média de idade entre pai e mae de 3,5 anos entre os 10 municipios com maior número de bebês nascidos.