In [25]:
import pandas as pd
import requests

# 1) seu código aqui
path = '/content/SINASC_RO_2019.csv'
sinasc = pd.read_csv(path)
print(sinasc.shape)
sinasc.drop_duplicates().shape
# Não há duplicados

(27028, 69)

(27028, 69)

In [ ]:
# 2) seu código aqui
sinasc.isna().sum()

ORIGEM          0
CODESTAB      115
CODMUNNASC      0
LOCNASC         0
IDADEMAE        0
             ...
munResUf        0
munResLat       1
munResLon       1
munResAlt       1
munResArea      1
Length: 69, dtype: int64

In [ ]:
# 3) seu código aqui
df = sinasc[["LOCNASC", "IDADEMAE", "ESTCIVMAE", "ESCMAE", "QTDFILVIVO", "GESTACAO", "GRAVIDEZ", "CONSULTAS", "APGAR5"]]
df.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      317
ESCMAE         312
QTDFILVIVO    1573
GESTACAO      1232
GRAVIDEZ        79
CONSULTAS        0
APGAR5         103
dtype: int64

In [ ]:
# 4) seu código aqui
df = df.dropna(subset=["APGAR5"])
df.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      315
ESCMAE         310
QTDFILVIVO    1566
GESTACAO      1216
GRAVIDEZ        76
CONSULTAS        0
APGAR5           0
dtype: int64

In [ ]:
# 5) seu código aqui
df["ESTCIVMAE"] = df["ESTCIVMAE"].fillna(9)
df["CONSULTAS"] = df["CONSULTAS"].fillna(9)
df.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE        0
ESCMAE         310
QTDFILVIVO    1566
GESTACAO      1216
GRAVIDEZ        76
CONSULTAS        0
APGAR5           0
dtype: int64

In [ ]:
# 6) Seu código aqui
df["QTDFILVIVO"] = df["QTDFILVIVO"].fillna(0)
df.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE        0
ESCMAE         310
QTDFILVIVO       0
GESTACAO      1216
GRAVIDEZ        76
CONSULTAS        0
APGAR5           0
dtype: int64

In [ ]:
# 7) seu código aqui
#Poderia usar o dropna nessa variavel que nao interferiria por ser um valor infimo mas para uma pessoa dar entrada nesse arquivo de dados a pessoa precisa esta gravida entao considerou-se o nan como "Única".
df["GRAVIDEZ"].value_counts()

Única              26356
Dupla                488
Tríplice e mais        5
Name: GRAVIDEZ, dtype: int64

In [ ]:
df["GRAVIDEZ"] = df["GRAVIDEZ"].fillna('Única')
df["GRAVIDEZ"].isna().sum()

0

In [ ]:
#Relacionou o numero de CONSULTAS das pacientes com a semana de GESTACAO para criar uma condicao de ffill e os nan restantes usou dropna.
df["GESTACAO"].value_counts()

37 a 41 semanas        22523
32 a 36 semanas         2234
42 semanas e mais        698
28 a 31 semanas          162
22 a 27 semanas           85
Menos de 22 semanas        7
Name: GESTACAO, dtype: int64

In [ ]:
dados_ausentes = df.loc[df['GESTACAO'].isna()]
print(dados_ausentes)

       LOCNASC  IDADEMAE  ESTCIVMAE       ESCMAE  QTDFILVIVO GESTACAO  \
1695         1        27        1.0  8 a 11 anos         1.0      NaN
2201         1        26        1.0  8 a 11 anos         1.0      NaN
2359         1        28        2.0   4 a 7 anos         2.0      NaN
2361         1        33        1.0   4 a 7 anos         4.0      NaN
2362         1        15        1.0   4 a 7 anos         1.0      NaN
...        ...       ...        ...          ...         ...      ...
26782        1        19        5.0  8 a 11 anos         1.0      NaN
26786        3        24        5.0   4 a 7 anos         1.0      NaN
26788        1        21        5.0   4 a 7 anos         0.0      NaN
26800        1        24        5.0  8 a 11 anos         1.0      NaN
26855        1        25        5.0  8 a 11 anos         2.0      NaN

      GRAVIDEZ  CONSULTAS  APGAR5
1695     Única          3     9.0
2201     Única          1     8.0
2359     Única          4     9.0
2361     Única          4     9.0
2362     Única          4     9.0
...        ...        ...     ...
26782    Única          4    10.0
26786    Única          4     8.0
26788    Única          4    10.0
26800    Única          3    10.0
26855    Única          3    10.0

[1216 rows x 9 columns]

In [ ]:
#Numero de CONSULTAS entre 1 e 4
df.loc[df['CONSULTAS'] == 1, 'GESTACAO'].value_counts()

37 a 41 semanas      547
32 a 36 semanas      114
28 a 31 semanas       13
22 a 27 semanas       13
42 semanas e mais     10
Name: GESTACAO, dtype: int64

In [ ]:
df.loc[df['CONSULTAS'] == 4, 'GESTACAO'] = df.loc[df['CONSULTAS'] == 4, 'GESTACAO'].fillna("37 a 41 semanas").ffill()
df.loc[df['CONSULTAS'] == 3, 'GESTACAO'] = df.loc[df['CONSULTAS'] == 3, 'GESTACAO'].fillna("32 a 36 semanas").ffill()
df.loc[df['CONSULTAS'] == 2, 'GESTACAO'] = df.loc[df['CONSULTAS'] == 2, 'GESTACAO'].fillna("28 a 31 semanas").ffill()
df.loc[df['CONSULTAS'] == 1, 'GESTACAO'] = df.loc[df['CONSULTAS'] == 1, 'GESTACAO'].fillna("22 a 27 semanas").ffill()
df.loc[df['CONSULTAS'] == 1, 'GESTACAO'] = df.loc[df['CONSULTAS'] == 1, 'GESTACAO'].fillna("Menos de 22 semanas").ffill()
df["GESTACAO"].isna().sum()

9

In [ ]:
df = df.dropna(subset=["GESTACAO"])
df["GESTACAO"].isna().sum()

0

In [ ]:
#Por ser um valor infimo usou o dropna
df["ESCMAE"].value_counts()

8 a 11 anos        15578
12 anos ou mais     5754
4 a 7 anos          4725
1 a 3 anos           509
Nenhuma               40
Name: ESCMAE, dtype: int64

In [ ]:
df["ESCMAE"].isna().sum()

310

In [ ]:
df = df.dropna(subset=["ESCMAE"])
df["ESCMAE"].isna().sum()

0

In [ ]:
#8) seu código aqui
df.loc[df['APGAR5'] <= 3, 'classificacao'] = 'asfixia severa'
df.loc[(df['APGAR5'] >= 4) & (df['APGAR5'] <= 5),
           'classificacao'] = 'asfixia moderada'
df.loc[(df['APGAR5'] >= 6) & (df['APGAR5'] <= 7),
           'classificacao'] = 'asfixia leve'
df.loc[(df['APGAR5'] >= 8), 'classificacao'] = 'normal'

df['classificacao'].value_counts()

<ipython-input-23-d975d85b5ef4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['APGAR5'] <= 3, 'classificacao'] = 'asfixia severa'

normal              26150
asfixia leve          317
asfixia severa         74
asfixia moderada       65
Name: classificacao, dtype: int64

In [ ]:
#9) seu código aqui
df = df.rename(columns=lambda x: x.lower().replace(' ', '_'))
df

,locnasc,idademae,estcivmae,escmae,qtdfilvivo,gestacao,gravidez,consultas,apgar5,classificacao
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,normal
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0,normal
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0,normal
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0,normal
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0,normal
...,...,...,...,...,...,...,...,...,...,...
27023,1,32,2.0,12 anos ou mais,1.0,32 a 36 semanas,Única,4,9.0,normal
27024,1,19,1.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,9.0,normal
27025,1,24,2.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,normal
27026,1,21,2.0,8 a 11 anos,1.0,32 a 36 semanas,Única,4,9.0,normal
27027,1,18,5.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,8.0,normal